.cardWrap {
    background-color: #d8d8d8;
    border-radius: 12px;
    padding: 16px;
}

.cardTitle {
    font-size: 32px;
    font-weight: 800;
}

.cardSubTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.cardDescription {
    color: #333;
}
