.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.footerItem {
    flex: calc(50% - 4px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.footerItem:first-child {
    align-items: center;
}

.footerItem:not(:last-child) {
    margin-bottom: 16px;
}

.footerTitle {
    font-size: 36px;
    font-weight: 700;
}

.footerSubTitle {
    font-size: 24px;
    font-weight: 500;
}

.footerIcon {
    font-size: 24px;
    display: flex;
    align-items: center;
}

.footerIcon svg {
    margin-right: 2px;
}

.footerIcon span {
    font-size: 16px;
}

@media screen and (min-width: 640px) {
    .footerContainer {
        flex-direction: row;
    }
}