.headerContainer {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 8px 32px;
    z-index: 999;

    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
}

.headerWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 9999;
    padding: 32px;
    font-size: 24px;
    font-weight: 600;
    transition: transform 1s ease-in-out;
}

.navMobileUp {
    transform: translateY(-100vh);
}

.navMobileDown {
    transform: translateY(0);
}

.navIconWrap {
    display: flex;
}

.navItem {
    width: fit-content;
    padding: 8px 0;
}

.navItem:not(:last-child),
.navItemSvg:not(:last-child) {
    margin-right: 24px;
}
  
.navItemSvg {
    font-size: 26px;
    padding: 8px 0;
    cursor: pointer;
}
  
.menuClose {
    align-self: end;
}
  
@media screen and (min-width: 640px) {
    .headerWrap {
        justify-content: center;
    }
  
    .menuToggle,
    .menuClose {
        display: none;
    }
  
    .navWrap {
        position: relative;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin-right: 16px;
        padding: 0;
        background-color: transparent;
        font-size: 13px;
        font-weight: 400;
    }

    .navMobileUp {
        transform: translateY(0);
    }
  
    .navItem:not(:last-child),
    .navItemSvg:not(:last-child) {
        margin-right: 16px;
    }
  
    .navItemSvg {
        font-size: 20px;
    }
}
  