.bannerWrap {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

.bannerVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bannerDescriptionWrap {
    position: absolute;
    bottom: 128px;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    color: white;
}

.bannerDescriptionTitle {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.bannerDescriptionSubTitle {
    font-size: 24px;
    margin-bottom: 32px;
    text-align: justify;
}

.bannerDescriptionButtonWrap {
    display: flex;
}

.bannerDescriptionButton {
    display: block;
    width: fit-content;
    padding: 16px;
    border-radius: 9999px;
}

.bannerDescriptionButtonOutline {
    margin-right: 16px;
    border: 1px white solid;
}

.bannerDescriptionButtonFill {
    background-color: white;
    color: black !important;
}

.profitTable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profitTableRow {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
}

.profitTableRow:not(:last-child) {
    margin-bottom: 8px;
}

.profitImageWrap {
    flex: calc(50% - 4px) 0 0;
    display: flex;
    align-items: center;
}

.profitImageWrap .profitTableRow {
    margin: 1px;
}

.profitImage {
    flex: calc(50% - 2px) 0 0;
    width: 100%;
    height: auto;
    margin: 1px;
    border-radius: 8px;
}

@media screen and (min-width: 640px) {
    .bannerWrap {
        height: 100vh;
    }

    .profitTable {
        flex-direction: row;
    }
}
